body * {
    font-family: 'Montserrat', sans-serif;
}

.title {
    color: royalblue;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
}

.note-container {
    width: calc(100% - 20px);
    height: 160px;
    margin-left: 10px;
    overflow: hidden;
    border: 1px gainsboro solid;
    border-radius: 6px;
    touch-action: none;
}

.note-container:not(:first-child) {
    margin-top: 10px;
}

.note-text-area {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    resize: none;
    border: none;
    outline: none;
    padding: 0;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin: 20px;
    font-weight: 300;
    touch-action: none;
}

#add-note-button {
    margin: 12px 12px;
    color: royalblue;
    font-size: 48px;
    cursor: pointer;
    padding: 0;
    border: none;
    background: none;
    outline: none;
}
